@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.intro {
  position: fixed;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url("../img/blueprint-bg-3.jpg") center no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.container--open .intro {
  -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
  transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
}
/* Fullscreen image */
.intro__image {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: auto;
  opacity: 0.8;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.container--open .intro__image {
  opacity: 0;
  -webkit-transform: translate3d(0, 20%, 0);
  transform: translate3d(0, 20%, 0);
}
/* Intro content */
.intro__content {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 1.8em;
  width: 100%;
  font-size: 1.15em;
}
.intro__content span {
  font-size: 2.5em;
}
.intro__button {
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -20px;
}
/* Trigger button with SVG */
.trigger {
  position: relative;
  -webkit-flex: none;
  flex: none;
  overflow: hidden;
  margin: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: none;
}
.icon rect,
.icon line {
  stroke: #f44336;
  fill: none;
  stroke-width: 3px;
}
.icon {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
/* Hide grid and show cross when opening */
.icon--cross,
.trigger--active .icon--grid {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}
.trigger--active .icon--cross {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
/* Main content */
.items-wrap {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 250px 5px 0;
}
.items-wrap::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a618a;
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  pointer-events: none;
}
.container--open .items-wrap::after {
  opacity: 0;
}
.item {
  position: relative;
  -webkit-flex: 1 0 25%;
  flex: 1 0 24%;
  overflow: hidden;
  height: 22vw;
  outline: none;
  border: 5px solid #2a618a;
  border-width: 0 5px 10px;
  background: #2a2e39;
}
.item__image {
  position: absolute;
  top: 50%;
  min-height: 100%;
  width: 100%;
  opacity: 0.2;
  -webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
  transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.item:hover .item__image {
  opacity: 1;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.item__title {
  position: absolute;
  padding: 2em;
  color: #fff;
  text-align: center;
  width: 100%;
  line-height: 1.2;
  transition: .5s;
}
.item__title h2 {
  position: relative;
  font-size: 2em;
}
.item__title h2:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  top: 44px;
  left: 50%;
  margin-left: -100px;
  background: #f44336;
}
@media screen and (max-width: 1050px) {
  .item__title h2 {
    font-size: 1.9em;
  }
}
.item__title span {
  line-height: 1.5;
  font-size: 1.5em;
  font-style: italic;
}
.preview {
  display: inline-block;
  padding-top: 10%;
  color: #f44336;
}
.item:hover .item__title {
  transition: .5s;
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
/* Media Queries */
@media screen and (max-width: 1440px) {
  .item {
    -webkit-flex: 1 0 33.333%;
    flex: 1 0 33.333%;
    height: 30vw;
  }
}
@media screen and (max-width: 1000px) {
  .item {
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
    height: 45vw;
  }
  .item,
  .intro__content {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 590px) {
  .item {
    -webkit-flex: 1 0 100%;
    flex: 1 0 100%;
    height: 90vw;
  }
}
@font-face {
  font-family: 'josefin_sansregular';
  src: url('../font/josefinsans-regular-webfont.eot');
  src: url('../font/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/josefinsans-regular-webfont.woff2') format('woff2'), url('../font/josefinsans-regular-webfont.woff') format('woff'), url('../font/josefinsans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}
.clearfix:after {
  clear: both;
}
body {
  background: url("../img/blueprint-bg-3.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
}
#svg-logo {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  width: 520px;
  height: 200px;
}
@media screen and (min-width: 1000px) {
  #svg-logo {
    width: 700px;
    height: 250px;
  }
}
